

<html ng-app="registrationModule">
<head>
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <title>Course Registration</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-slate.min.css" rel="stylesheet" type="text/css" />  
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/registration-module.js"></script>

    @RenderSection("JavascriptInHead",required:false)    
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
