<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEvalService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IEvalService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEvalService">
                    <reliableSession enabled="true" />
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/evals/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEvalService" contract="IEvalService"
                name="BasicHttpBinding_IEvalService" />
            <endpoint address="http://localhost:8080/evals/ws" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IEvalService" contract="IEvalService"
                name="WSHttpBinding_IEvalService" />
            <endpoint address="net.tcp://localhost:8081/evals" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IEvalService" contract="IEvalService"
                name="NetTcpBinding_IEvalService">
                <identity>
                    <userPrincipalName value="VAMSIDHAR-PC\Vamshidar" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>